<div
  class="list-group"
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="row g-0">
    <div class="col-md-8">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="col-md-4">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 50px"
      />
    </div>
  </div>
</div>
