<div *ngIf="isSuccess || isUpdated || isError || isWarning"
  class="px-3 py-1 d-flex align-items-center justify-content-between" [ngClass]="{'bg-success': isSuccess,
  'bg-updated': isUpdated,'bg-error': isError,'bg-warning': isWarning}" id="alerts">
  <div class="ms-1 me-3">
    <img *ngIf="isSuccess" src="../../assets/Images/successfully-icon.png" alt="Successfully" />
    <img *ngIf="isUpdated" src="../../assets/Images/updated-icon.png" alt="Updated" />
    <img *ngIf="isError" src="../../assets/Images/error-icon.png" alt="Oh Snap!" />
    <img *ngIf="isWarning" src="../../assets/Images/warning-icon.png" alt="Warning!" />
  </div>
  <div class="d-flex text-white">
    <div *ngIf="isSuccess">
      <h4>Successfully</h4>
      <p>{{ successMsg }}</p>
    </div>
    <div *ngIf="isUpdated">
      <h3>Updated</h3>
      <p>{{ infoMsg }}</p>
    </div>
    <div *ngIf="isError">
      <h3>Oh Snap!</h3>
      <p>{{ errorMsg }}</p>
    </div>
    <div *ngIf="isWarning">
      <h3>Warning</h3>
      <p>{{ warningMsg }}</p>
    </div>
    <span class="material-icons text-white pointer" (click)="closeAlert()">close</span>
  </div>
</div>